<h1>Edit your information</h1>

<form method="POST">
  <label for="input-name">Name</label>
  <input type="text" id="input-name" name="name" placeholder="Your name" value="{{user.name}}">
  
  <button class="form-btn">Submit</button>
</form>